---
layout: default
home-title: Olvcpr423's Blog
description: Hello world!
header-img: 'https://api.berryapi.net/?service=App.Bing.Images&day=-0'
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | relative_url }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover | relative_url }}" href="{{ post.url | relative_url }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    
